.text-field{
    -fx-background-color: #c7f2d4;
}

.root{
    -fx-background-color: #015351;
}

.button{
    -fx-text-fill: #c7f2d4;
    -fx-background-color: #262d40;
}

.label {
    
    -fx-text-fill: #c7f2d4;
}

.hyperlink {
    -fx-text-fill: #c7f2d4;
}

.barra{
    -fx-background-color: #015351;
}

.fechar{

    -fx-cursor:hand;
    -fx-background-color:rgba(0,0,0,0);

}

.fechar:hover{

    -fx-background-color:rgba(255, 2, 2, 0.389);

    -fx-background-radius: 7;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.978), 0.3, 0.3, 0.0, 0.0);
}
